 /* TEMPLATE STYLING */
html {
	background-color: #cccccc;
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #cccccc;
}


header {
	font-family: 'Abril Fatface', cursive;
}

header .jumbotron {
	padding: 15px 0px;
	margin-bottom: 0px;
	background-color: #cccccc;
	font-family: 'Abril Fatface', cursive;
}

header .jumbotron.text-center .row {
	width: 100%;
}

header .jumbotron h1 {
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: solid black 2px;
}

header .jumbotron #logo {
	margin: auto;
	padding: 0;
	height: 50%;
	max-height: 80px;
	min-height: 40px;
	margin-right: 10px;
	vertical-align: center;
	position: relative;
	display: inline-block;
}
nav .container {
	width: 100%;
	background-color: white;
	color: orange;
	margin-top: 0px;
	padding-top: 0px;
	margin-left: 0;
	margin-right: 0;
}

nav .container .row a {
	background-color: #ff5100;
	border: solid #3d3d3d 1px;
}

nav a {
	color: black;
	padding: 2px 0px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

nav .container .row #nav-button {
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	margin: auto;
}
nav .container .row #nav-button.active {
	background-color: #fa3f00;
	border: inset #3d3d3d 1px;
	font-weight: bold;
}
	 
nav .container .row #nav-button.active:hover {
	border: outset #ff3300 1px;
}
	
nav .container .row #nav-button:hover {
	border: inset #ff3300 1px; 
}

.jumbotron {
	padding-top: 0px;
	padding-bottom: 0px;
}

#main-base {
	padding-top: 2%;
	padding-bottom: 45px;
	margin-bottom: 0;
	background-color: #cccccc;
}

.jumbotron .main-content {
	padding: 0;
	margin: auto;
	background-color: #cccccc;
	max-width: 500px;
}

.jumbotron .main-content #homepage-img {
	margin: auto;
	width: 80%;
	border: solid black 2px;
	overflow: hidden;
}

.jumbotron .main-content .container {
	padding: 0;
	margin: auto;
}

.jumbotron .main-content .row {
	height: 100%;
	width: 100%;
	margin: auto;
}

#services {
	width: 100%;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #cccccc;
}

#services .row {
	margin: auto;
}

#services h3 {
	font-family: 'Exo';
	margin-top: 0px;
	padding-top: 5px;
	width: 100%;
}

#services p {
	font-family: arial;
	font-size: 14px;
	text-align: justify;
}

#services img {
	margin: auto;
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
}

#service-container {
	border-bottom: solid black 2px;
}

#service-container .row {
	padding-bottom: 10px;
	margin: auto;
}

#service-container .row #image {
	padding-left: 10%;
	padding-right: 10%;
	margin: auto;
	margin-bottom: 5px;
}

#service-container .row #image img {
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
	display: relative;
}

#homepage {
	width: 100%;
	text-align: center;
	font-family: Exo;
	background-color: #cccccc;
	padding-top: 8px;
	margin-bottom: 5px;
	position: relative;
}

#homepage ul {
	padding: 0 20px;
	display: block;
}

#homepage ul li {
	display: inline-block;
	padding: 0 7px;
}


#myCarousel {
		background-position: relative;
		min-height: 100%;
		max-height: 100%;
		bottom: 0;
		margin: auto;
	}

	/* Carousel base class */
#main-content .container #myCarousel .carousel {
	height: 100%;
	width: 100%;
	margin: auto;
}

/* Carousel Indicators*/
ol.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

 ol.carousel-indicators li {
    display: inline-block;
    width:  11px;
    height: 11px;
    margin: 1px;
    text-indent: -999px;
    border: solid #000000 1px;
    border-radius: 11px;
    cursor: pointer;
    background-color: #ffffff;
}

ol.carousel-indicators li.active {
	background-color: #ff3300;
	border: solid #ff3300 2px;	
	width: 12px;
	height: 12px;
	border-radius: 12px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

.carousel-caption p {
	color: black;
	background-color: #ffffff;
	opacity: 0.5;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	min-height: 300px;
	max-height: 350px;
	color: #777;

}
.carousel-inner .item img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
	min-height: 100%;
}

.carousel-inner .item .active img #service-slide-img {
	padding-left: 0px;
	padding-right: 0px;
	margin: auto;
	width: 100%;
	max-width: 524px;
}

	.to-top {
		background-color: #ff471a;
		position: fixed;
		bottom: 40px;
		right: 5px;
		font-size: 10px;
		font-family: arial;
		float: right;
	}



	.show {
		width: 100%;
		padding: 0px 10%;
		margin: 0 0;
		position: relative;
	}

	.show ul {
		display: inline-block;
		/*grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
		grid-gap: 0px; */
		margin: auto;
		width: 100%;
	}

	.show li {
		max-width: 100%;
		height: 100%;
		overflow: hidden;
		padding: 0px 10px;

	}

	.show li p {
		width: 100%;
		padding-left:15%;
	}

	.show h3 {
		padding-left: 15%;
	}


		.mySlides {display: none;}
	img {vertical-align: middle;}


	/* Slideshow container */
	.slideshow-container {
		padding: 0 5px;
		width: 100%;
		max-width: 500px;
		height: 100%;
		max-height: 400px;
		min-height: 400px;
		position: relative;
		margin: auto;
		background-color: #cccccc;
		}

	.active {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .2} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .2} 
		to {opacity: 1}
	}


#title {
	text-align: center;
	font-family: Exo;
}


.links {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
   	margin: auto;
   	position: relative;
   	display: block
}

.links ul {
	margin: auto;
	padding-left: 5%;
	padding-right: 5%;
	width: 100%;
}

.links ul li {
    display: inline-block;
    padding-bottom: 6px;
    font-size: 12px;
    font-family: arial;
    text-align: left;
    margin: auto;
    width: 150px;
  }

  .links ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  .links ul li a:hover {
  	color: #ff3300;
  }

  .img-container {

  }


.form-container {
	border: solid black 1px;
	padding: 2px;
}


footer {
	background-color: #cccccc;
	max-width: 100%;
	width: 100%;
	position: fixed;
	text-align: center;
	vertical-align: center;
	font-size: 10px;
	height: 40px;
	min-height: 30px;
	max-height: 40px;
	padding: 10px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	bottom: 0;
}

footer p {
	padding-bottom: 10px;
}

