body {
  display: flex;
  margin: 0;
  background-color: #e1e0e0;
  font-family: 'Cabin Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

header {
  position: fixed;
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  align-items: center;
  max-height: 50%;
}

header .header-container {
  position: static;
  width: 100%;
  align-items: center;
  font-size: 180%;
  
}

header .header-container h1 {
  display: inline-block;
}


nav {
  position: relative;
  background-color: #FFFFFF;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

nav li {
  display: inline-block;
  padding-right: 2rem;
}

nav li:last-child {
  padding-right: 0;
}