 /* TEMPLATE STYLING */
html {
	background-color: #cccccc;
}

 body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #cccccc;
}

body .container-fluid {
	width: 100%;
}

header {
	font-family: 'Exo', sans-serif;
}

header .jumbotron {
	padding: 15px 0px;
	margin-bottom: 0px;
	background-color: #cccccc;
	font-family: 'Exo', sans-serif;
}

header .jumbotron h1 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;
	border-bottom: solid black 2px;
}
nav .container {
	width: 100%;
	background-color: white;
	color: orange;
	margin-top: 0px;
	padding-top: 0px;
}

nav .container .row button {
	background-color: #ff650c;
	border: outset #fff 1px;
}

nav button a {
	color: black;
	padding: 2px 0px;
	text-decoration: none;
}

nav .container .row button.active {
	background-color: #ff650c;
}
	 
nav .container .row button.active:hover {
	border: solid #ff3300 2px;
}
	
nav .container .row button:hover {
	border: solid #ff3300 2px; 
}

.main-content {
	margin: auto;
	 background-color: #cccccc;
	 padding: 30px 20px;
	 height: 100%;
	 bottom: 0;
}

.main-content .container {
	width: 100%;
	height: 100%;
	margin: auto;
}

.main-content .container .row {
	margin: auto;
	height: 100%;
	width: 100%;
}


.main-content .container .row #main-content {
	max-width: 100%;
	min-width: 100%;
	margin: auto;
	padding: 20px 20px;
}

#myCarousel {
		background-position: relative;
		min-height: 100%;
		max-height: 100%;
		bottom: 0;
		margin: auto;
	}

	/* Carousel base class */
#main-content .container #myCarousel .carousel {
	height: 100%;
	width: 100%;
	margin: auto;
}

/* Carousel Indicators*/
ol.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}

 ol.carousel-indicators li {
    display: inline-block;
    width:  11px;
    height: 11px;
    margin: 1px;
    text-indent: -999px;
    border: solid #000000 1px;
    border-radius: 11px;
    cursor: pointer;
    background-color: #ffffff;
}

ol.carousel-indicators li.active {
	background-color: #ff3300;
	border: solid #ff3300 2px;	
	width: 12px;
	height: 12px;
	border-radius: 12px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	min-height: 300px;
	max-height: 350px;
	color: #777;

}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 300px;
	max-width: 500px;
	max-height: 100%;
	min-height: 100%;
}

	.top button {
		background-color: #ff471a;
		position: fixed;
		bottom: 40px;
		right: 5px;
		font-size: 10px;
		font-family: arial;
	}



	.show {
		width: 100%;
		padding: 0px 10%;
		margin: 0 0;
		position: relative;
	}

	.show ul {
		display: inline-block;
		/*grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
		grid-gap: 0px; */
		margin: auto;
		width: 100%;
	}

	.show li {
		max-width: 100%;
		border-bottom: solid black 2px;
		height: 100%;
		overflow: hidden;
		padding: 0px 10px;

	}

	.subtitle {
		width: 100%;
		padding-bottom: 0px;
	}

	.show li p {
		width: 100%;
		padding-left:15%;
	}

	.show h3 {
		padding-left: 15%;
	}


		.mySlides {display: none;}
	img {vertical-align: middle;}


	/* Slideshow container */
	.slideshow-container {
		padding: 0 5px;
		width: 100%;
		max-width: 500px;
		height: 100%;
		max-height: 400px;
		min-height: 400px;
		position: relative;
		margin: auto;
		}

	.active {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	/* END OF TEMPLATE STYLING */

	/* HOME PAGE STYLING */
		
	

	


	/* END OF OUR SERVICES STYLING */

	/* CONTACT US STYLING */

	.contact-container{
		width: 100%;
		margin: auto;
		display: inline-block;
		height: 100%;
		padding-left: 10px;
	}

	.form-container {
		width: 48%;
		position: relative;
		float: left;
		border: solid black 2px;

	}

	.form-container form {
		padding: 5px 20px;
		display: block;
		input
	}

	.contactdetails {
		width: 48%;
		float: right;
		vertical-align: center;
		height: 100%;

	}

	.contactdetails p {
		padding-bottom: 8px;
		vertical-align: center;
	}

	/* END OF CONTACT US STYLING */


footer {
	background-color: #cccccc;
	width: 100%;
	position: fixed;
	text-align: center;
	font-size: 10px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	margin: 0;
	padding: 10px;
	bottom: 0;
}
	/* END OF TEMPLATE STYLING */
